* {
  margin: 0px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.photoContaier {
  display: none;
  width: 300px;
  height: 150px;
}

.active {
  display: block;
  background-color: red;
  transition-delay: 1s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 150px;
  background-color: darkblue;
  opacity: 0.2;
  cursor: pointer;
}

.arrow {
  width: 25px;
  height: 25px;
}

.leftArrow {
  transform: rotate(45deg);
  margin-left: 15px;
  border-left: 4px solid green;
  border-bottom: 4px solid green;
}

.rightArrow {
  margin-right: 15px;
  transform: rotate(45deg);
  border-right: 4px solid green;
  border-top: 4px solid green;
}

.button:hover {
  opacity: 0.7;
}

.breadCrumbs {
  width: 50px;
  height: 25px;
  background-color: green;
  margin: 0 auto;
  color: yellow;
  font-weight: bold;
}

.addButton {
  width: 100px;
  height: 20px;
  background-color: blue;
  margin: 20px auto;
  cursor: pointer;
}
